@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --overlap-height: 0px; /* Dynamic value for height adjustment */
  }

  #sidebar-dash {
    height: calc(100vh - (100px + var(--overlap-height))); /* Dynamic height */
  }

   #sidebar {
    height: calc(100vh - (92px + var(--overlap-height))); /* Dynamic height */
  }
